body{
	background-image: url(https://vignette.wikia.nocookie.net/marvel-cinematic-universe/images/d/d1/Chitauri_command.png/revision/latest?cb=20120824123306);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: auto;
	font-family: Britannic;
	padding: 0;
	margin: 0;
}

#myNavbar ul li a{
	width: 100%;
	text-decoration: none;
	color: #97afc4;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 10px ;
	margin: 20px 0px; 
	font-size: 20px;
	display: block;
	text-align: center;	
}

#myNavbar a:hover{
	background-color: #97afc4;
	color: #010110;
}

.navbar-brand{
	font-size: 50px;
	color: #97afc4;
	padding-top: 30px;
}

.navbar{
	margin-bottom: 0px;
}

p{
	font-size: 25px;
	color: #d9d9d9;
	font-weight: bold;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 2.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: #97afc4;
} 


h1 .bigger{
	background-color: #000;
	color: ;
	mix-blend-mode: screen;
	font-size: 80px;
	margin: 0;
	padding: 0;
}

h1 {
  color: #97afc4;
  font-weight: 100;
  font-size: 60px;
  margin: 80px 0px 20px;
  text-align: left;
}

h3{
	  color: #97afc4;
  font-weight: 100;
  font-size: 60px;
}

footer{
	background: transparent;
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	height: 10%;
	margin: 0 auto;
	opacity: 1;
}



footer p{
	margin-top: 20px;
	font-size: 20px;
	color: #97afc4;
}

.blank{
	height: 100px;
	width: 100%;
	background: transparent;
}